/**
 * ROFI CONFIGURATION - THE ULTIMATE NORD GRID
 * Motor: Aditya Shakya | Cores: LR-Tech (Nord) | Design: Grid Layout
 **/

configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: ""; /* Ícone de Lupa - requer Nerd Font */
    drun-display-format: "{name}";
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
    window-format: "{w} · {c} · {t}";
}

* {
    /* Paleta Nord Tática */
    bg-dark:            #2e3440;
    bg-light:           #3b4252;
    nord-blue:          #81a1c1;
    nord-light:         #eceff4;
    nord-grey:          #d8dee9;
    
    font:               "IBM Plex Mono 11";
    background-color:   transparent;
    text-color:		#ffffff;
}

window {
    width:              360px;
    border:             2px;
    border-color:       @nord-blue;
    border-radius:      15px;
    background-color:   @bg-dark;
    padding:            15px;
}

mainbox {
    spacing:            20px;
    children:           [ inputbar, listview ];
}

inputbar {
    spacing:            15px;
    padding:            15px 20px;
    border-radius:      15px;
    background-color:   @bg-light;
    text-color:         @nord-light;
    children:           [ prompt, entry ];
}

prompt {
    text-color:         @nord-blue;
    vertical-align:     0.5;
    font:               "IBM Plex Mono 14";
}

entry {
    placeholder:        "Buscar Aplicações...";
    placeholder-color:  @nord-grey;
    text-color:         @nord-light;
    vertical-align:     0.5;
}

listview {
    columns:            3;
    lines:              3;
    spacing:            10px;
    fixed-height:       true;
    fixed-columns:      true;
}

element {
    orientation:        vertical;
    padding:            10px 5px;
    border-radius:      10px;
    text-color:         @nord-light;
}

element normal.normal, element alternate.normal {
    background-color:   transparent;
}

element selected.normal {
    background-color:   @bg-light;
    text-color:         @nord-blue;
    border:             1px;
    border-color:       @nord-blue;
}

element-icon {
    size:               36px;
    horizontal-align:   0.5;
    background-color:   transparent;
}

element-text {
    horizontal-align:   0.5;
    vertical-align:     0.5;
    background-color:   transparent;
    text-color:         @nord-light;
}

element normal.normal, element alternate.normal {
    background-color:	transparent;
    text-color:		@nord-light;
}
