* {
    bg:                 #000000CC;
    fg:                 #ffffff;
    accent:             #b8bb26;
    
    font:               "IBM Plex Mono 26"; 
    background-color:   transparent;
    text-color:         @fg;
}

window {
    location:           east;
    anchor:             east;
    x-offset:           -20px;
    y-offset:           0px;
    width:              125px; 
    border:             2px;
    border-color:       @accent;
    background-color:   @bg;
    padding:            15px;
    children:           [ listview ];
}

listview {
    columns:            1;
    lines:              4; 
    spacing:            15px;
    cycle:              true;
    dynamic:            true;
    layout:             vertical;
    scrollbar:          false;
}

mainbox {
    children:           [ listview ];
}

element {
    padding:            22px 0px;
    background-color:   transparent;
    children:           [ element-text ];
}

element selected {
    background-color:   @accent;
    text-color:         #ffffff;
}

element-text {
    expand:             true;
    horizontal-align:   0.45;
    vertical-align:     0.55;
    background-color:   transparent;
    text-color:         inherit;
}
